<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="color: black; ">
      RECORD OF TRANSACTIONS 
    </ion-title>
    <ion-buttons  style="color: black" slot="end">
      <ion-button routerLink="/weddingrec">WEDDING</ion-button>
      <ion-button routerLink="/birthdayrec">BIRTHDAY </ion-button>
      <ion-button routerLink="/fiestarec">FIESTA</ion-button>
      <ion-button routerLink="/reunionrec">REUNIONS</ion-button>
      <ion-button routerLink="/annivrec">ANNIVERSARIES</ion-button>
      <ion-button routerLink="/othersrec">OTHERS </ion-button>
      <ion-button routerLink="/admin">LOG OUT</ion-button>
      <ion-item>
			<ion-label>
				Search:
			</ion-label>
			<ion-input type="text">
			</ion-input>
			<ion-button>
				<ion-icon slot="icon-only" name="search"></ion-icon>
			</ion-button>
		</ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="secondary">
	<div style="margin-top: 2%; margin-left: 1%; width: 98%; height: 600px; background-color: rgb(14,99,99); overflow: scroll;"><br>
		<table border="1" width="200%" >
			<tr style="text-align: left;">
				<th colspan="15" >
					W E D D I N G &nbsp;&nbsp;&nbsp; R E C O R D S
				</th>
			</tr>
			<tr style="text-align: center;">
				<td width="5%">
					<ion-label>Number</ion-label>
				</td>
				<td width="10%">
					<ion-label>Bride's Names</ion-label>
				</td>
				<td width="10%">
					<ion-label>Groom's Names</ion-label>
				</td>
				<td width="10%">
					<ion-label>Theme</ion-label>
				</td>
				<td width="10%">
					<ion-label>Church</ion-label>
				</td>
				<td width="10%">
					<ion-label>MC</ion-label>
				</td>
				<td width="10%">
					<ion-label>Ushers/Usherette</ion-label>
				</td>
				<td width="10%">
					<ion-label>Reception</ion-label>
				</td>
				<td width="10%">
					<ion-label>Catering</ion-label>
				</td>
				<td width="10%">
					<ion-label>Menu</ion-label>
				</td>
				<td width="10%">
					<ion-label>Sound_System</ion-label>
				</td>
				<td width="10%">
					<ion-label>Decoration</ion-label>
				</td>
				<td width="20%">
					<ion-label>Photography/Videography</ion-label>
				</td>
				<td width="10%">
					<ion-label>Wedding_Date</ion-label>
				</td>
				<td width="10%">
					<ion-label>Date_of_transaction</ion-label>
				</td>
			</tr>
		</table>
	</div>
	<div style="margin-top: 2%; margin-left: 1%; width: 98%; height: 600px; background-color: green; overflow: scroll;"><br>
		<table border="1" width="200%" style="text-align: center;">
			<tr>
				<th colspan="15">
					W E D D I N G  R E C O R D S
				</th>
			</tr>
			<tr>
				<td width="5%">
					<ion-label>Number</ion-label>
				</td>
				<td width="10%">
					<ion-label>Bride's Names</ion-label>
				</td>
				<td width="10%">
					<ion-label>Groom's Names</ion-label>
				</td>
				<td width="10%">
					<ion-label>Theme</ion-label>
				</td>
				<td width="10%">
					<ion-label>Church</ion-label>
				</td>
				<td width="10%">
					<ion-label>MC</ion-label>
				</td>
				<td width="10%">
					<ion-label>Ushers/Usherette</ion-label>
				</td>
				<td width="10%">
					<ion-label>Reception</ion-label>
				</td>
				<td width="10%">
					<ion-label>Catering</ion-label>
				</td>
				<td width="10%">
					<ion-label>Menu</ion-label>
				</td>
				<td width="10%">
					<ion-label>Sound_System</ion-label>
				</td>
				<td width="10%">
					<ion-label>Decoration</ion-label>
				</td>
				<td width="20%">
					<ion-label>Photography/Videography</ion-label>
				</td>
				<td width="10%">
					<ion-label>Wedding_Date</ion-label>
				</td>
				<td width="10%">
					<ion-label>Date_of_transaction</ion-label>
				</td>
			</tr>
		</table>
	</div>
</ion-content>