<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="color: black; ">
      RECORD OF TRANSACTIONS 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="secondary">
	<form id="#form" style="width: 80%; float: left; color: black; margin-left: 10%; margin-top: 5%; text-align: center;">
		<ion-card-content>
          <table border="1" width="100%">
          	<tr>
          		<th colspan="5" style="height: 50px; background-color: rgb(57,108,147);">L I S T &nbsp;&nbsp; OF &nbsp;&nbsp; T R A N S A C T I O N S </th>
          	</tr>
          	<tr>
          		<td style="width: 5%; height: 40px; background-color: rgb(234,234,234);">
          			<ion-label>Number</ion-label>
          		</td>
          		<td style="width: 30%; height: 40px; background-color: rgb(234,234,234);">
          			<ion-label>Name of Customer</ion-label>
          		</td>
          		<td style="width: 20%; height: 40px; background-color: rgb(234,234,234);">
          			<ion-label>Event</ion-label>
          		</td>
          		<td style="width: 20%; height: 40px; background-color: rgb(234,234,234);">
          			<ion-label>Contact Number</ion-label>
          		</td>
          		<td style="width: 20%; height: 40px; background-color: rgb(234,234,234);">
          			<ion-label>Date of Celebration</ion-label>
          		</td>
          	</tr>
          	<tr>
          		<td style="width: 5%; height: 40px">
          			
          		</td>
          		<td style="width: 30%; height: 40px">
          			
          		</td>
          		<td style="width: 20%; height: 40px">
          			
          		</td>
          		<td style="width: 20%; height: 40px">
          			
          		</td>
          		<td style="width: 20%; height: 40px">
          			
          		</td>
          	</tr>
          </table>
		</ion-card-content>
	</form>
</ion-content>