<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="color: black">
      BIRTHDAY
    </ion-title>
    <ion-buttons routerLink="/servicepack" slot="start">
      <ion-button>
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">

	<div style="float: left; width: 100%;"> <br>
		<ion-item style="width: 100%; --background: rgb(57,108,147); height: 100%; color: black;">
				<ion-label>Birthday Packages </ion-label>
		    </ion-item>
		<form id="#form" style="width: 50%; float: left;">
		<ion-card-content>
		    <ion-item style="width: 100%; --background: rgb(49,156,162); height: 100%; color: black;">
				<ion-label>PACKAGE 1: Debut </ion-label>
		    </ion-item>
			<ion-item style="width: 100%; float: left; color: black;">
			    <ion-label>MASTER OF CEREMONY(MC): KC Asis . . . . . . . . . . . . . . . . . . . . . . . . . Php8000.00</ion-label> 
			</ion-item>
			<ion-item style="width: 100%; float: left; color: black;">
			    <ion-label>SOUNDS/BAND: Arsenio Disco Mobile . . . . . . . . . . . . . . . . . . . . . . . . . . Php10000.00</ion-label>
			</ion-item>
			<ion-item style="width: 100%; float: left; color: black;">
			    <ion-label>RECEPTION/VENUE: Tulaan Beach Resort . . . . . . . . . . . . . . . . . . . . . . Php5000.00</ion-label>
			</ion-item>
			<ion-item style="width: 100%; float: left; color: black;">
			    <ion-label>DECORATION/LAYOUTS: Chiqui Cher . . . . .. . . . . . . .  . . . . . . . . . . . . .  Php15000.00</ion-label>
			</ion-item>
			<ion-item style="width: 100%; float: left; color: black;">
			    <ion-label>PHOTOGRAPHY/VIDEOGRAPHY: Memoclips . . . . . . . . . . . . . . . .  . . . Php20000.00</ion-label>
			</ion-item>
			<ion-item style="width: 100%; float: left; color: black;">
			    <ion-label>CATERING: Epin's Catering Service</ion-label>
			</ion-item>
		</ion-card-content>
	</form>
	<form id="#form" style="width: 50%; float: left;">
		<ion-card-content>
		    <ion-item style="width: 100%; --background: rgb(49,156,162); height: 100%; color: black;">
				<ion-label>PACKAGE 2: 60th Birthday </ion-label>
		    </ion-item>
			<ion-item style="width: 100%; float: left; color: black;">
			    <ion-label>MASTER OF CEREMONY(MC): Ryan Azuro . . . . .  . . . . . . . . . . . . . Php2000.00</ion-label> 
			</ion-item>
			<ion-item style="width: 100%; float: left; color: black;">
			    <ion-label>SOUNDS/BAND: Gam Disco Mobile . . . . . . . . . . . . . . . . . . . .  . . . . . Php8000.00</ion-label>
			</ion-item>
			<ion-item style="width: 100%; float: left; color: black;">
			    <ion-label>RECEPTION/VENUE: Don Simplecio Gymnasium Barugo . . . . . . . . .  Php.6000.00</ion-label>
			</ion-item>
			<ion-item style="width: 100%; float: left; color: black;">
			    <ion-label>DECORATION/LAYOUTS: Chiqui Cher . . . . . . . . . . . . . . . . . . . . . . . . Php15000.00</ion-label>
			</ion-item>
			<ion-item style="width: 100%; float: left; color: black;">
			    <ion-label>PHOTOGRAPHY/VIDEOGRAPHY: Louie Ramos Tinio Photography . . .Php15000.00 </ion-label>
			</ion-item>
			<ion-item style="width: 100%; float: left; color: black;">
			    <ion-label>CATERING: Joey Catering Services </ion-label>
			</ion-item>
		</ion-card-content>
	</form>
	<form id="#form" style="width: 50%; float: left;">
		<ion-card-content>
		    <ion-item style="width: 100%; --background: rgb(49,156,162); height: 100%; color: black;">
				<ion-label>PACKAGE 3: Ordinary Birthday </ion-label>
		    </ion-item>
			<ion-item style="width: 100%; float: left; color: black;">
			    <ion-label>MASTER OF CEREMONY(MC): Myrna Aguihap . . . . . . . . . . . . . . . . . . Php2000.00</ion-label> 
			</ion-item>
			
			<ion-item style="width: 100%; float: left; color: black;">
			    <ion-label>SOUNDS/BAND: Pascual Disco Mobile . . . . . . . . . . . . . . . . . . . . . . . . . Php4000.00</ion-label>
			</ion-item>
			<ion-item style="width: 100%; float: left; color: black;">
			    <ion-label>RECEPTION/VENUE: Raq Farm Eatery . . . . . . . . . . . . . . . . . . . . . . . . . Php5000.00</ion-label>
			</ion-item>
			<ion-item style="width: 100%; float: left; color: black;">
			    <ion-label>DECORATION/LAYOUTS: Chiqui Cher . . . . . . . . . . . . . . . . . . . . . . . . . Php10000.00</ion-label>
			</ion-item>
			<ion-item style="width: 100%; float: left; color: black;">
			    <ion-label>PHOTOGRAPHY/VIDEOGRAPHY: Nathan Guy . . . . .  . . . . . . . . . . . . . . Php15000.00</ion-label>
			</ion-item>
			<ion-item style="width: 100%; float: left; color: black;">
			    <ion-label>CATERING: Athelo Catering Service</ion-label>
			</ion-item>
			<ion-item style="width: 100%; float: left; color: black;">
			    <ion-label></ion-label>
			</ion-item>
		</ion-card-content>
	</form>

	<form id="#form" style="width: 50%; float: left;">
		<ion-card-content>
				<ion-item style="width: 100%; --background: rgb(49,156,162); float: left; color: black;">
				    <ion-label >Available Menus: </ion-label>
				</ion-item>
				<ion-item style="width: 34%; float: left; color: black;">
				    <ion-label position="floating">Menu 01 Php300.00/head</ion-label>
				    <ion-input  type="text" value="- beef with mushroom" shape="round"></ion-input> 
				    <ion-input  type="text" value="- pork with oyster sauce" shape="round"></ion-input>
				    <ion-input  type="text" value="- fish fillet with sweet & sour sauce" shape="round"></ion-input>
				    <ion-input  type="text" value="- bam-i or chopsuey" shape="round"></ion-input>
				    <ion-input  type="text" value="- dessert" shape="round"></ion-input>
				    <ion-input  type="text" value="- plain rice" shape="round"></ion-input>
				    <ion-input  type="text" value="- drinks" shape="round"></ion-input>
				    <ion-input  type="text" value="- - - - - - -" shape="round"></ion-input> 
				</ion-item>
				<ion-item style="width: 33%; float: left; color: black;">
				    <ion-label position="floating">Menu 02 Php380.00/head</ion-label>
				    <ion-input  type="text" value="- beef stew" shape="round"></ion-input> 
				    <ion-input  type="text" value="- chicken roll" shape="round"></ion-input>
				    <ion-input  type="text" value="- stuffed shrimp" shape="round"></ion-input>
				    <ion-input  type="text" value="- sweet & sour fish" shape="round"></ion-input>
				    <ion-input  type="text" value="- bam-i or chopsuey" shape="round"></ion-input>
				    <ion-input  type="text" value="- dessert" shape="round"></ion-input>
				    <ion-input  type="text" value="- plain rice" shape="round"></ion-input>
				    <ion-input  type="text" value="- drinks" shape="round"></ion-input> 
				</ion-item>
				<ion-item style="width: 33%; float: left; color: black;">
				    <ion-label position="floating">Menu 03 Php400.00/head</ion-label>
				    <ion-input  type="text" value="- beef with mushroom" shape="round"></ion-input> 
				    <ion-input  type="text" value="- crunchy chicken" shape="round"></ion-input>
				    <ion-input  type="text" value="- shrimp roll" shape="round"></ion-input>
				    <ion-input  type="text" value="- bam-i or chopsuey" shape="round"></ion-input>
				    <ion-input  type="text" value="- fruit salad" shape="round"></ion-input>
				    <ion-input  type="text" value="- plain" shape="round"></ion-input>
				    <ion-input  type="text" value="- softdrinks" shape="round"></ion-input> 
				    <ion-input  type="text" value="- - - - - - - " shape="round"></ion-input> 
				</ion-item>
			</ion-card-content>
	</form>

	</div>

	<div style="float: left; width: 100%;"><br> 
		<ion-item style="width: 100%; --background: rgb(57,108,147); height: 100%; color: black;">
				<ion-label>Transaction Form </ion-label>
			</ion-item>
		<form id="#form" style="width: 80%; float: left; color: green; margin-left: 10%; margin-top: 2%;">
		<ion-card-content>
			<ion-item style="--background: rgb(49,156,162); width: 100%; text-align: center">
				<ion-label style="color: black">CUSTOMER'S INFORMATION</ion-label>
			</ion-item>
			<ion-item>
				<ion-label style="width: 60%; color: red">Kindly fill in the needed information...</ion-label>
			</ion-item>
			<ion-item style="width: 50%; float: left;">
				<ion-label>Package:</ion-label>
				<ion-select type="text" name="birthpackage" [(ngModel)]="birthday_package" required placeholder="Select One">
			        <ion-select-option>Package 1</ion-select-option>
			        <ion-select-option>Package 2</ion-select-option>
			        <ion-select-option>Package 3</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item style="width: 50%; float: left;">
			    <ion-label style="color: black">Food Menu: </ion-label>
			    <ion-select type="text" name="menus" [(ngModel)]="food_menu" required placeholder="Select One">
			       	<ion-select-option>
			       		Menu 1 Php300.00/head
			       	</ion-select-option>
			        <ion-select-option>
			        	Menu 2 Php380.00/head
			        </ion-select-option>
			        <ion-select-option>
			        	Menu 3 Php400.00/head
			        </ion-select-option>
			    </ion-select>
			</ion-item>
		    <ion-item style="width: 100%; float: left;">
		        <ion-label>Name of Celebrant: </ion-label>
		        <ion-input  type="text" name="celebrantname" [(ngModel)]="name_of_celebrant" shape="round"></ion-input> 
		    </ion-item>
		    <ion-item style="width: 50%; float: left;">
		        <ion-label>Sex: </ion-label>
		        <ion-select  type="text" name="sex" [(ngModel)]="sex" shape="round" placeholder="Select One">
		        	<ion-select-option>Male</ion-select-option>
			        <ion-select-option>Female</ion-select-option>
		        </ion-select> 
		    </ion-item>
		    <ion-item style="width: 50%; float: left;">
		        <ion-label>Date of Birth: </ion-label>
		        <ion-input  type="date" name="datebirth" [(ngModel)]="date_of_birth" shape="round"></ion-input> 
		    </ion-item>
			<ion-item style="width: 50%; float: left;">
			    <ion-label>Address:</ion-label>
			        <ion-input  type="text" name="address" [(ngModel)]="address" shape="round"></ion-input>
			</ion-item>
			<ion-item style="width: 50%; float: left;">
			    <ion-label>Theme:</ion-label>
			        <ion-input  type="text" name="theme" [(ngModel)]="theme" shape="round"></ion-input>
			</ion-item>
			<ion-item style="width: 50%; float: left;">
			    <ion-label>Contact Person:</ion-label>
			        <ion-input  type="text" name="cperson" [(ngModel)]="contact_person" shape="round"></ion-input>
			</ion-item>
			<ion-item style="width: 50%; float: left;">
		        <ion-label>Number of Vistors: </ion-label>
		        <ion-input  type="number" name="num" [(ngModel)]="number_of_visitors" shape="round"></ion-input> 
		    </ion-item>
			<ion-item style="width: 50%; float: left;">
			    <ion-label>Contact number:</ion-label>
			        <ion-input  type="text" name="cnumber" [(ngModel)]="contact_number" shape="round"></ion-input>
			</ion-item>
			<ion-item style="width: 50%; float: left;">
			    <ion-label >Transaction Date:</ion-label>
			    <ion-input  type="Date" name="transact_date" [(ngModel)]="transaction_date" shape="round"></ion-input>
			</ion-item>
			<ion-item style="width: 50%; float: left;">
			    <ion-label>G-mail account:</ion-label>
			      <ion-input  type="mail" name="gmail" [(ngModel)]="gmail_account" required shape="round"></ion-input>
			</ion-item>
			<ion-item style="width: 50%; float: left;">
			    <ion-label>Date of celebration:</ion-label>
			        <ion-input  type="Date" name="celeb_date" [(ngModel)]="date_of_celebration" shape="round"></ion-input>
			</ion-item>
			<ion-item style="width: 50%; float: left;">
			    <ion-label>Facebook account:</ion-label>
			        <ion-input  type="text" name="fb" [(ngModel)]="facebook_account" shape="round"></ion-input>
			</ion-item>
			<ion-item style="width: 50%; float: left;">
			    <ion-label>Time of celebration:</ion-label>
			        <ion-input  type="Time" name="celeb_time" [(ngModel)]="time_of_celebration" shape="round"></ion-input>
			</ion-item>
			<ion-item style="width: 100%; float: left; color: red">
			    <ion-label style="font-size: 12px;">Note: <i>Some other information needed for this event will be ask through a call/message on your given contacts. Please cooperate."</i></ion-label>
			</ion-item>
          <ion-button style="width: 23%;  float: left; margin-top: 1%; margin-left: 26%;" (click)="insertDataToBirthdayrecord()"  color="success" expands="block" >Avail</ion-button>
          <ion-button style="width: 23%; float: left; margin-top: 1%;" routerLink="/servicepack" color="danger" expands="block" >Cancel</ion-button>
		</ion-card-content>
	</form>

	</div>

</ion-content>