ion-item{
    --background: #3880ff;
    --color: black;
}
ion-button{
    --background: #062f77;
}
a{
    color: #4e1860;

}
h6{
  padding-left: 30px;
}
#admin{
  padding-left: 100px;
}
#form {
    margin-top: 45px;
    padding-left: 30px;
    padding-right: 30px;

  }
  ion-toolbar{
    --background: pink;
  }