<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="color: black;">
      Events
    </ion-title>
    <ion-buttons style="color: black" slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
	<center>
	<div id="services" style="width: 45%; height: 250px; float: left; margin-left: 3.5%; margin-top: 2%; background-color: blue; background-image: url('assets/image/2.jpg'); background-size: cover;"><br><br><br><br><br><br><br><br><br><br><br>
          <ion-button routerLink="/wedding" color="danger" expands="block">WEDDING</ion-button>
	</div>
	<div id="services" style="width: 45%; height: 250px; float: left; margin-left: 3%; margin-top: 2%; background-color: blue; background-image: url('assets/image/6.png'); background-size: cover;"><br><br><br><br><br><br><br><br><br><br><br>
		<ion-button routerLink="/birthday" color="danger" expands="block">BIRTHDAY</ion-button>
	</div>
	<div id="services" style="width: 45%; height: 250px; float: left; margin-left: 3.5%; margin-top: 3%; background-color: blue; background-image: url('assets/image/7.jpg'); background-size: cover;"><br><br><br><br><br><br><br><br><br><br><br>
		<ion-button routerLink="/reunion" color="danger" expands="block" >REUNION</ion-button>
	</div>
	<div id="services" style="width: 45%; height: 250px; float: left; margin-left: 3%; margin-top: 3%; background-color: blue; background-image: url('assets/image/4.jpeg'); background-size: cover;"><br><br><br><br><br><br><br><br><br><br><br>
		<ion-button routerLink="/anniversaries" color="danger" expands="block">Anniversaries</ion-button>
	</div>
</center>
</ion-content>