
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="color: black">
      E V E N T D R I V E
    </ion-title>
    <ion-buttons style="color: black" slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" [fullscreen]="true" >
<div style="width: 100%; height: 635px;" padding> 
    <div style="float: left; width: 80%; height: 600px;" padding>
      <div style="margin-top: 1%; color: black; float: left; width: 100%; height: 30px; font-size: 30px">
         <center>W E L C O M E &nbsp;&nbsp;&nbsp; T O &nbsp;&nbsp;&nbsp; E V E N T D R I V E</center>
      </div>
      <div style="float: left;color: black; width: 28%; height: 576px; margin-left: 2%;margin-top: 2%; text-align: center;">
        <div>
          E v e n t D r i v e
        </div><br>
        <div>
          <video controls autoplay loop width="100%" height="30%">
          <source src="assets/image/vid.mp4" type="video/mp4">
          <source src="vid.ogg" type="video/ogg">
          </video>
          <video controls loop width="100%" height="30%">
          <source src="assets/image/vid1.mp4" type="video/mp4">
          <source src="vid.ogg" type="video/ogg">
        </video>
        </div>
      </div>
      <div style="float: left; width: 68%; height: 576px; margin-top: 2%; margin-left: 2%" padding>
        <div style="float: left; width: 40%; height: 260px;">
          <img src="assets/image/EVENT_LOGO.png" style="width: 100%; height: 100%">
        </div>
        <div style="color: black; float: left; width: 59%; height: 200px; margin-left: 1%; font-size: 23.5px">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Event organizer is responsible in planning, designing and production within time limits. Working with clients to identify their needs and ensure customer satisfaction. Organizing facilities and details such as decor, catering, entertainment, transportation, location, invitee list, special guest, equipment, promotional material etc.
           <br>
          </div>
          <div style="color: black; float: left; width: 100%; height: 250px; font-size: 23.5px">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Event Drive is an event organizer that is made to prevent hasstle during the preparations or special ocassions. Event Drive is software application that will be responsible in planning and organizing events in the most efficient and cost effective way. We entails on searching target audiences in the market and finding ocassions at which events can be organized. Event Drive will communicate with clients to know their specific needs and inorder for the team to deliver the best services that we can offer.
          </div>
        </div>
    </div>

    <div style="float: left; width: 19%; height: 570px; margin-top: 1%;background-color: rgb(49,156,162); " padding>
        <ion-item style="--background: rgb(49,156,162); ">
          Events
        </ion-item>
          <ion-label style="color: black; " >
      
            <marquee direction="up"  width="250" height="520" style="border:none; font-family: times new roman; text-align: center; margin-left: 1%">
              
              <img src="assets/image/2.jpg">
              =====W e d d i n g =====

              <br><br>
              <img src="assets/image/4.jpeg">
              =====A n n i v e r s a r y=====

              <br><br>
              <img src="assets/image/6.png">
              ====B i r t h d a y====

              <br><br>
              <img src="assets/image/7.jpg">
              ===R e u n i o n===

              <br><br>
              <img src="assets/image/4.jpeg">
              ==A l u m n i==

              <br><br>
              <img src="assets/image/3.jpg">
              =F i e s t a=

            </marquee>

          </ion-label>
    </div>
  </div>
</ion-content>